@media only screen and (max-width: 820px) {

  header {
    /* 366052 background color*/

    background-position: top;
    /* background-size: contain; */
    /* background-color:unset;  */
    height: 60vw;
    /* height:fit-content; */
    /* max-width: 100%; */
    /* height: auto; */
    /* width: auto\9; ie8 */
  }
  .logo{
    display:none;
  }
  .sticky .menu {
    /* display: none; */
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 8px;
    border: 5px solid #366052;
    background-color: #366052;
    border-radius: 50%;

    width: 35px;
    height: 35px;
    font-size: 30px;

  }

  .barm {
    /* display: none; */
    /* position:fixed; */
    margin-right: 5px;
    right: 3px;
    line-height: 3px;

  }
  /* new */
  .menu div{
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 8px;
    border: 5px solid #366052;
    background-color: #366052;
    border-radius: 50%;

    width: 35px;
    height: 35px;
    font-size: 30px;
    color: rgba(238, 207, 29, 0.768);
    text-align: center;
    display: inline-block;
    padding: 6px;
    /* border: 10px; */
    /* padding-left: 4px; */
  }
  .menu div i{
   margin-top: 3px;
   margin-left: 1px;
  }

  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {
    padding: 10px 0;
  }

  .sticky .mobile-nav-icon {
    margin-top: 10px;
  }

  .sticky .mobile-nav-icon i {
    color: #555;
  }

  /* .sticky { */
  /* float:right; */
  /* display: contents; */
  /* position: fixed; */
  /* bottom: 0px; */
  /* right: 0px; */

  /* } */
  .logo {
    /* height: ; */
    width: 10vw;
    /* height: 10vh; */
    /* font-size: 0.5vw; */
    /* maxw */
  }

  h3 {
    width: 8vw;
  }

  .main-nav {
    display: none;
  }
  /* .clearfix{
    display: none;
  } */
  .menu {
    display: inline-block;
  }
 
  .main-nav {
    position: fixed;
    top: -10vh;
    /* bottom: -44px; */
    bottom: -10vh;
    right: 10vw;
    border: 130px solid #366052;
    /* border-top: 10px; */
    margin-top: 300px;
    margin-right: 50px;
    /* color: aqua; */
    background-color: #366052;
    font-size: 8vw;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    /* border-radius: 20%; */
  }

  .main-nav li {
    display: block;
    padding-bottom: 10px;
    /* float: right; */
  }
}
@media only screen and (min-width: 821px) {
  header {
    /* 366052 background color*/

    background-position: top;
    /* background-size: contain; */
    /* background-color:unset;  */
    height: 60vw;
    /* height:fit-content; */
    /* max-width: 100%; */
    /* height: auto; */
    /* width: auto\9; ie8 */
  }

  .barm {
    /* display: none; */
    /* position:fixed; */
    margin-right: 5px;
    right: 3px;
    line-height: 3px;

  }
  /* new */
  
  .logo {
    /* height: ; */
    /* width:4vw; */
    /* height: 10vh; */
    /* font-size: 0.5vw; */
    /* maxw */
  }

  h3 {
    width: 8vw;
  }

  .main-nav {
    display: inline-block;
    /* position:fixed;  */
    /* display: inline-block; */
    /* float:right; */
  }

}

