@media only screen and (max-width: 720px) {
  header{
    /* 366052 background color*/
    
    background-position: top;
    /* background-size: contain; */
    /* background-color:unset;  */
    height: 60vw;
    /* height:fit-content; */
    /* max-width: 100%; */
    /* height: auto; */
    /* width: auto\9; ie8 */
  }
  .sticky .menu{
    /* width: 10vw; */
    display: inline-block;
    position: fixed;
    bottom: 5px;
    right: 8px;
    border: 5px solid #366052;
    background-color:  #366052;
    border-radius: 50%;
    /* border-right: -5px; */
    width: 35px;
    height: 35px;
    font-size: 30px;
    /* margin-left: 3px; */
    /* margin-right: 3px; */
    /* border-left: 100px; */
    /* border-right:100px; */
  }
  .barm {
    margin-right: 30px;
    right: 3px;
    line-height: 3px;
    /* font-size: 30px; */
  }
  .menu div{
    color: rgba(238, 207, 29, 0.768);
    text-align: center;
    display: inline-block;
    padding: 3px;
    padding-left: 4px;
  }
  .sticky {
    /* position:fi */
    float:right;
    display: contents;
    position: fixed;
    bottom: 0px;
    right: 0px;

  }
  .logo{
    /* height: ; */
    width:10vw;
    /* font-size: 0.5vw; */
    /* maxw */
  }
  
}