/* #366052 green */
.row{
  max-width: 1140px;
  margin: 0 auto;
}
.logo{
  float: left;

  /* height: 7%; */
  /* width: 7%; */
  margin-top: 5px;
}

.main-nav{
  float: right;
  list-style: none;
  margin-right: 10px;
  margin-top: 35px;
  padding-bottom: 15px;
  padding-left: 0px;
}
.main-nav li{
  display: inline-block;
  margin-left: 15px;
}
.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0px;
  color: #e6d922d7;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom:2px solid transparent;
  -webkit-transition: border-bottom 0.2;
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;

}
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #366052;
  -webkit-box-shadow: 0 2px 2px rgb(37, 37, 37);
          box-shadow: 0 2px 2px rgb(37, 37, 37);
  /* z index makes the nav bar be on the top of the screen */
  z-index: 9999;
}
.stickyMobile{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #366052;
  -webkit-box-shadow: 0 2px 2px rgb(37, 37, 37);
          box-shadow: 0 2px 2px rgb(37, 37, 37);
  /* z index makes the nav bar be on the top of the screen */
  z-index: 9999;
}
.bbb{
  display:block;
}
.s{
  /* + */
}
.clearfix {zoom:1};
.clearfix {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}
.menu{
  display: none;
}
header{
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(img/spartanwithbackgroundnew.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(img/spartanwithbackgroundnew.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 100vw; */
  /* width: 100vw; */
  /* margin-top: 20px; */
  /* max-height: 50%; */
  /* max-width: 100%; */
  background-color: #366052;

  /* margin-bottom: 100px; */
  /* background-size: cover;
  background-attachment: fixed;
  background-position: center;  
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 100%; */
}
.contact-form{
  width: 60%;
  margin: 0 auto;
}
input[type=text],
input[type=email],
select,
textarea{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
input[type=checkbox]{
  margin: 10px 5px 10px 0;
}
*:focus{outline: none;}


h1,
h2,
h3{
  font-weight: 300;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
}

h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h2:after{
  display: block;
  height: 2px;
  background-color: #e6d922d7;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;

}
/* h3{

  margin-top: 10px;
  font-family: 'NCAA Michigan St Spartans';

  text-align: center;
  font-size: 100px;

} */
/* .newh3{

} */

.icon-small{
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
  margin-right: 10px;
}
.box{
  padding: 0%
}
.section{
  padding: 80px;
}

.box img{
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}
.city-feature{
  margin-bottom: 5px;
}
h3{
  text-align: center;
}
